* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F9FA;
    color: #2C3E50;
}

header {
    text-align: center;
    background-color: #2C3E50; /* Matching color for the top bar */
    padding: 20px;
}

.header-content h1 {
    font-size: 2.5rem;
    color: #ECF0F1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
    font-size: 1.2rem;
}

hr {
    width: 60%;
    margin: 10px auto;
    border: 1px solid #ECF0F1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

.hero {
    text-align: center;
}

.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #7F8C8D;
}

.cta-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cta {
    padding: 10px 20px;
    background-color: #2980B9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.cta:hover {
    background-color: #1f5a87;
}
